doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		//- link(rel='stylesheet', type='text/css', href='../css/fonts/fonts.css')
		link(rel='stylesheet', type='text/css', href='/css/style.css')
		script(src='https://code.jquery.com/jquery-1.10.2.js')
		title CARSHARE TO SCHIPHOL APP
		
	body
		div
			ul
				if user
					li
						a(href='/') Home
					li
						a(href='/search') Search 
					li
						a(href='/addroute') Add route
					li
						a(href='/profile') View profile
					li
						a(href='/logout') Log out
block content